name: docker-build
on: [push]
jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@master
        - name: Docker publish
          uses: elgohr/Publish-Docker-Github-Action@master
          with:
            name: sams96/rgeosrv/rgeosrv
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            registry: docker.pkg.github.com
