name: docker-build
on: [release]
jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Get release tag
          id: tag
          run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        - uses: actions/checkout@master
        - name: Docker publish
          uses: elgohr/Publish-Docker-Github-Action@v5
          with:
            name: sams96/rgeosrv/rgeosrv
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            registry: docker.pkg.github.com
            tags: "latest"
            tag_names: true
